# Custom reference systems for the Threat Hunt Kit

config reference: system URL https://www.threat-hunt-kit.local/rules/$(sid)
config reference: system CVE http://web.nvd.nist.gov/view/vuln/detail?vulnId=$(cve)
config reference: system MALWARE-TRAFFIC-ANALYSIS https://www.malware-traffic-analysis.net/
config reference: system THREAT-HUNT-KIT https://github.com/your-username/threat-hunt-kit/wiki/SID-$(sid)